/*css file for small-sized screens*/
@media screen and (max-width: 360px){

  .my-header{
    width: 100%;
  }

  .logo-in-header{
    width: 100%;
    height: auto;
  }

  .owl_logo {
    width: auto;
    height: 180px;
  }

  .name-in-header{
    font-family: 'Muli', sans-serif;
    width: 100%;
    color: orange;
    font-weight: bolder;
  }

  .title-in-header{
    font-family: 'crimson text', serif;
  }

  .required-p {
    font-weight: bold;
    font-size: 12pt;
  }

  .main-image{
    width:100%;
    height: auto;
  }

  .thebigpicture {
    max-width: 100%;
    height: auto;
  }

  .project-list{
    width: 100%;
    align-content: center;
  }

  .placeholder{
    width: 110px;
    align-self: center;
  }

  .project-item{
    width: 100%;
    }
}
