
@media screen and (min-width: 769px){
  .my-header{
    width: 100%;
  }
  .logo-in-header{
  background-image: url("little_owl.jpg");
  background-repeat: no-repeat;
    width: 20%;
  }
  .name-in-header{
    width: 75%;
    color: green;
    font-family: 'Muli', sans-serif;

  }

  .main-image{
    width: 100%;
  }

  .project-list{

  }
  .placeholder {
    width: 45px;
  }

  .project-item{
    width: 33%;
  }
}
