<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Crimson+Text|Muli">

img, embed, object, video {
  max-width: 100%;
}
body {
    font-family: 'Crimson Text', serif;
    display: flex;
    flex-wrap: wrap;
}
