
/*css file for mid-sized screens*/

 @media screen and (min-width:360px) and (max-width:769px) {
   .my-header {
     width: 100%;
     height: auto;
     display: flex;
     flex-wrap: nowrap;
   }

   .logo-in-header {
     width: 25%;
     height: auto;}

   .owl_logo {
     width: 100%;
     height: auto;
   }

   .name-in-header{
     font-family: 'Muli', sans-serif;
     align-self: flex-end;
     text-align: right;
     color: red;
     width: 75%;
   }

  .title-in-header{
    font-family: 'crimson text', serif;
  }

  .required-p {
    font-weight: bold;
    font-size: 14pt;
  }

  .main-image{
    width: 100%;
  }

  .thebigpicture{
    max-width: 100%;
    height: auto;
  }

  .project-list {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
  }

  .placeholder{
    width: 90%;
    height: auto;
    align-content: center;
  }

  .project-item{
    width: 33%;
    align-content: center;
    }
  }
