
@media screen and (min-width: 361px) and (max-width: 768){
  .my-header{
    width: 100%;
    height: auto;
    order: 1;
    display: flex;
    flex-wrap: wrap;
  }
  .logo-in-header{
  background-image: url("little_owl.jpg");
  background-repeat: no-repeat;
  width: 25%;
  height: auto;
  order: 1;
  }
  .name-in-header{
    font-family: 'Muli', sans-serif;
    align-self: flex-end;
    width: 75%;
    order: 2;
  }

  .main-image{
    width: 100%;
  }

  .project-list{

  }
  .placeholder {
    width: 45px;
  }

  .project-item{
    width: 33%;
  }
}
